<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1> 글 수정 페이지 </h1>

    <form>
        제목 : <input type="text" class="btitle"> <br>
        내용 : <input type="text" class="bcontent"> <br>
        첨부파일 : <input type="file" class="bfile"> <br>
        <button type="button" onclick="upboard()"> 수정 </button>
    </form>




    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/board/update.js"></script>
</body>
</html>