<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1> 글 수정 페이지 </h1>

    <form class="boardupdate">
        제목 : <input type="text" class="btitle" name="btitle"> <br>
        내용 : <input type="text" class="bcontent" name="bcontent"> <br>
        첨부파일 : <input type="file" class="bfile" name="bfile"> <br>
        <button type="button" onclick="upboard()"> 수정 </button>
    </form>




    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/update.js"></script>
</body>
</html>