<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> 글 쓰기 페이지 </h1>

    <form>
        제목 : <input type="text" class="btitle"> <br>
        내용 : <input type="text" class="bcontent"> <br>
        첨부파일 : <input type="file" class="bfile"> <br>
        <button type="button" onclick="setboard()"> 등록 </button>
    </form>

    <a href="/board/list"> <button type="button"> 글목록 </button> </a>









    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/board/write.js"></script>
</body>
</html>