<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> 글 쓰기 페이지 </h1>
    <span> 카테고리 추가 </span>
    <span>
        <input type="text" class="bcname">
        <button type="button" onclick="setbcategory()"> 등록 </button>
    </span>

    <div class="bcategorytbox">
    </div>
    <br>
    <form class="boardform">
        제목 : <input type="text" class="btitle" name ="btitle"> <br>
        내용 : <input type="text" class="bcontent" name="bcontent"> <br>
        첨부파일 : <input type="file" class="bfile" name="bfile"> <br>
        <button type="button" onclick="setboard()"> 등록 </button>
    </form>
    <br>
    <a href="/board/list"> <button type="button"> 글목록 </button> </a>









    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/write.js"></script>
</body>
</html>