<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/member.css">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/member/getmember"> <!-- action : 시큐리티 로그인 처리 경로랑 경로랑 동일하게 -->
        <input type="text" class="memail" name="memail" placeholder="이메일"> <br>
        <input type="text" class="mpw" name="mpw" placeholder="비밀번호"> <br>
        <input type="submit" value="로그인" class="loginbtn"> <br>
        <a href="/oauth2/authorization/kakao"> <img src="/img/kakao_login_medium_wide.png"> </a> <br>
        <a href="/oauth2/authorization/naver"> 네이버 로그인 </a> <br>
        <a href="/oauth2/authorization/google"> 구글 로그인</a> <br>
    </form>

    <br><br>
    <a href="/"> <button type="button"> 메인페이지 </button> </a>











    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>
</body>
</html>