<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3> 회원가입 </h3>
    <div>
        이메일 <input type="text" class="memail">
        <button type="button" onclick="getauth()" class="getauthbtn"> 인증코드 발급 </button> <br>

        <div class="authbox">
            <input type="text" class="authinput">
            <button type="button" class="authbtn" onclick="authcode()">인증</button>
            <span class="timerbox">  </span>
        </div>
    </div>

    비밀번호 <input type="text" class="mpw"> <br>
    연락처 <input type="text" class="mphone"> <br>
    <button type="button" onclick="setmember()"> 가입하기 </button>

    <br><br>
    <a href="/"> <button type="button"> 메인페이지 </button> </a>









    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/member/signup.js"></script>

</body>
</html>