<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> GetMapping </p>
    <button onclick="GetMapping1()" type="button"> p.57 </button>
    <button onclick="GetMapping2()" type="button"> p.58 </button>
    <button onclick="GetMapping3()" type="button"> p.59 </button>
    <button onclick="GetMapping4()" type="button"> p.60 </button>
    <button onclick="GetMapping5()" type="button"> test </button>
    <button onclick="GetMapping6()" type="button"> p.61 </button>
    <button onclick="GetMapping7()" type="button"> p.62 </button>
    <button onclick="GetMapping8()" type="button"> p.66 </button>

    <br><br>
    <p> PostMapping </p>
    <button onclick="PostMapping1()" type="button"> p.68 </button>
    <button onclick="PostMapping2()" type="button"> p.69-1 </button>
    <button onclick="PostMapping3()" type="button"> p.69-2 </button>

    <br><br>
    <p> PutMapping </p>
    <button onclick="PutMapping1()" type="button"> p.70 </button>
    <button onclick="PutMapping2()" type="button"> p.71 </button>
    <button onclick="PutMapping3()" type="button"> p.72 </button>

    <br><br>
    <p> DeleteMapping </p>
    <button onclick="DeleteMapping1()" type="button"> p.75 </button>
    <button onclick="DeleteMapping2()" type="button"> p.76 </button>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/test1.js"></script>
    <!-- spring : resources -> static 폴더 기본 경로 -->

</body>
</html>