<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1> 이젠 블로그에 오신 것을 환영합니다 </h1>

        <div id="root"></div>  <!-- DOM 컨테이너로 사용할 예정 -->


    <!-- 리액트 라이브러리 npm 없을때 사용 [ CDN - 공식 홈페이지는 18버전이나 우리는 17버전으로 사용 ] -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- 사용자 정의 JS  -->
    <script src="MyButton.js"></script>
</body>
</html>