
/* p.167 css 형식 작성 */

.wrapper{
    margin: 8px;
    padding: 8px;
    display: flex;
    border: 1px solid gray;
    border-radius: 16px;

}

.imgContainer{

}

.image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.contentContainer{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameText{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.commentText{
    color: black;
    font-size: 16px;
}